# Primitive data types

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1Ts5wZC0Z4C8K-ym3AU7K-Ujl1wcRYSaV?usp=sharing)

## [Exercises] Strings

Complete the following exercises in the cells provided.

1: Create a new string variable called "first_name" and set it equal to your first name. When you're done, print it out.

2: Create another new string variable called "last_name" and set it equal to your last name. When you're done, print it out.

3: **Using your first_name and last_name variables**, create a new variable (called full_name) that contains your full name formatted as "First Last". Print this variable out when you're done!

_This must be completed without just typing last_name = "Yourfirstname Yourlastname"! Use your existing variables._

4: Find the combined length of the following strings, string_1 and string_2, provided for you below.

In [ ]:
string_1 = "a short string"
string_2 = "a waaaaayyyyyyyy, way way WAY longer string"

5: Going back to your name, conver the variable full_name to be **all upper case**. This should write over the existing variable, so when you print out full_name, it should be all capitals.

6: Replace all the vowels in your name, except O, with "OOF". Print your new full_name when you're done.

## [Exercises] Numeric Types

1: Create a float variable called my_float, and an int variable called my_int.

Verify (through printing it out) that the variables you created are of the correct class.

2: Now, convert each of them to the opposite type. When you're done with this, my_float should be an int and my_int should be a float. Check the types again to verify this!

3: "Magic birthday" exercise:

Start out by saving two new int variables: month (your birth month) and day (your birth day). For example, august 11th would be:

```
month = 8
day = 11
```

We'll use these, and a sequence of operations, to arrive at a float representation of your birthday (i.e., 8.11 for August 11th).

Now, do the following operations:
- A: Multiply your "month" variable by 7
- B: Subtract 1 from your result in A
- C: Multiply your result in B times 13
- D: Add your "day" variable to your result from C
- DE: Add 3 to your result in D
- E: Multiply your result in D by 11
- F: Subtract "month" from your result in E
- G: Subtract "day" from your result in F.
- H: Divide your result in G by 10.
- I: Add 11 to your result in H.
- J: Divide your result in I by 100.

You should now have the decimal representation of your birthday!

(PS: It's totally fine to do this in multiple steps, but if you finish early, try to get it all into one line with parentheses!)

## [Exercises] Boolean data type

1: Create a new boolean variable, and check its type to make sure you've correctly made a boolean.

In [ ]:
my_bool = True
print(type(my_bool))

2: Compare two numbers or strings to produce each of the following. The first one is done for you:
- True using > or >=
- False using > or >=
- True using < or <=
- False using < or <=
- True using ==
- False using ==
- True using !=
- False using !=

In [ ]:
print("True with > or >=", 2 >= 2)

# Coercion

## [Exercises] Type coercion

Produce each of the following using only mathematical operators (+, -, etc.,) type conversion functions ( ```str()``` , etc.) and the variables we provide for you ``` seven, five, ``` etc. Do not include any literal numbers, booleans, or strings of your own!

(To clarify, if we asked you to produce the number ```10```, doing so by running ```five + five ``` is acceptable, but ```seven + 3``` or ```five*2``` is not. You should use _only_ the variables provided.

In [ ]:
seven = 7
five = 5
true = True
false = False
hello = "hello"

1: ``` '57' ```

2: ```57```

3: ```'TrueFalse'```

4: ```'hello0'```

5: ```0```

6: ```9```

(hint: you may need to use a boolean)

7: ```'hello3'```

# Complex Data Types

### [Exercises] Lists

1: **List creation**
Make a list, called my_favorites, that contains at least 5 of your favorite things.

These can be movies, colors, foods, numbers (if you have favorite numbers), anything!

Verify that you have correctly created a list by printing out its type.

While you're at it, check the length of your array!

2: **List indexing** - using the list ```scrambled_list```,  print the sentence "the quick brown fox jumps over the lazy dog", in order.

In [ ]:
scrambled_list = ["quick", "brown", "the", "jumps", "fox", "dog", "over", "lazy"]

3: **Slicing + concatenation**

Using only one line of code, print out only

```
['banana', 'carrot', 'dorito', 'guava', 'hazelnut']
```

from the list ``` alphabet_foods ```

In [ ]:
alphabet_foods = ['apple', 'banana', 'carrot', 'dorito', 'eggplant',
                  'falafel', 'guava', 'hazelnut', 'idli']

4: **Addition and removal**

Change the list below to match the following:

```
['today', 'was, 'a', 'very', 'good', 'day']
```

Use only the .append and .remove functions to do this, changing beginning_list into the above.

In [ ]:
beginning_list = ['today', 'was', 'a', 'not', 'very', 'bad', 'good']

5: **Sorting**
Sort the below list to be in forwards alphabetical order.

We didn't cover this in this notebookâ€”we want you to start learning how to find solutions to problems you haven't learned yet!

Google is your friend here :)

In [ ]:
#Sort this:
unsorted = ['xylophone', 'walrus', 'zebra', 'venus', 'yodel', 'a']

### [Exercises] Dictionaries

1: Create a dictionary mapping the codes of the classes you're currently enrolled in (keys) to the class titles (values).

When you're done, print it out, and check the type to ensure you did this correctly.

Look at our examples for syntax help!

In [ ]:
my_dictionary = {
    '3002':'Data Science Systems',
    '3003':'Communicating with Data',
    '3120':'Intro to Mathematical Statistics',
    '3340':'Complex Variables',
    '3630':'Chamber Ensemble'
}

2: **Use google** to find a function that will return the number of key-value pairs in your dictionary.

3: Use the dictionary below to print out the city associated with the zip code 22904.

In [ ]:
zip_dict = {
    22903:'Charlottesville, VA',
    15301:'Washington, PA',
    15218:'Pittsburgh, PA',
    22904:'Charlottesville, VA',
}

4: Using only the dictionary below, print out "data science is super fun".

In [ ]:
four_dict = {
    'last_word':'fun',
    'middle_word':'is',
    'first_word':'data',
    'second_word':'science',
    'fourth_word':'super'
}

5: Print out "data science is super fun" again. A bit harder this time - you'll need your list knowledge!

In [ ]:
five_dict = {
    'first_list':['super', 'is'],
    'other_list':['science', 'fun', 'data']
}

6: Even harder: print out "data science is super fun" once more! Remember the methods we learned towards the end....

In [ ]:
six_dict = {
    'fun':'what data is',
    'science':'the S in stem',
    'super':'prefix to hero',
    'is':'most common present-tense verb',
    'data':'literally everything'
}

7: Hardest yet: tie it all together! Print "data science is super fun" just _one_ more time! You'll need to use what you did in 4-6, _plus_ a bit more:

(Hint: the item below, seven_list, isn't one dictionary - it's a **list of dictionaries!**)

In [ ]:
seven_list = [
    {'what_data_is':'fun',
     'how_fun_it_is':'super'},
    {'topic_first_word':'data',
     'verb':'is',
     'topic_second_word':'science'}
]